{% extends 'base.html' %}<!--for linking base .html-->

{% block content %}
{% if error %}
{{ error }}<!--if error occurs error message shows here which is defined in views-->
<br />
<br />
{% endif %}
<h1>Login!</h1>
<form method="POST" action="{% url 'login' %}"><!--this will send data to login function in views-->
{% csrf_token %}<!--security-->
Username:
<br />
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password" />
<br />
<br />
<br />
<input class="btn btn-primary" type="submit" value="Login!" />
</form>

{% endblock %}